.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */
    transition: all 3s linear 1s;
}

.box:hover {
    /* transform: rotate(45deg); */

    /* transform: scale(2, 0.5); */

    /* transform: skew(45deg); */

    transform: translate(-300px, 500px);

    /* transform: matrix(2, 0.5, 15, 15, 300, 300); */
    
}



p {
    font-size: 36px;
}